#aboutme-section {
  width: 100vw;
  overflow: hidden;
  background-color: $colorBackground;

  & .about-container {
    margin: 100px 120px;
    display: flex;

    & .about-text {
      width: 60%;
      padding: 0px 40px;

      & h1 {
        @include h1Pages;
        margin-bottom: 40px;
        font-family: $fontSubTitle;

        &  span {
          background: linear-gradient(to right, $colorRed, $colorViolet, $colorBluette);
          -webkit-background-clip: text;
          color: transparent;
          font-family: $fontTitle;
        }
      }

      & p {
        line-height: 2;
        font-size: 20px;
        text-align: justify;
      }
    }

    & .about-photo {
      position: relative;
      padding: 0;
      height: 350px;
      width: 25%;
      background-image: url(/images/foto.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size:cover;
      border-radius: 30px;

      & .about-photo-overlay {
        position: absolute;
        top: 0;
        left: 10;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, $colorYellow, $colorRed, $colorViolet, $colorBluette);
        opacity: 0.4;
        transition: all .3s ease;
        border-radius: 30px;

        &:hover {
          opacity: 0;
        }
      }
    }
  }
}
