#aboutme-section {
  @include sectionStyle;
  @include flexCenter(row);

  & .about-container {
    @include sectionContainer;
    display: flex;

    & .about-text {
      flex-basis: 60%;

      & h1 {
        @include h1Pages;
        margin-bottom: 40px;
        font-family: $fontSubTitle;
        &  span {
          @include spanTitle;
        }
      }

      & p {
        @include descriptiveParagraph;

        & a {
          @include underlinehoverText;
        }
      }
    }

    & .about-photo {
      padding: 0;
      height: 350px;
      flex-basis: 25%;
      background-image: url(/images/foto.jpg);
      @include overlayContainer;
      margin: 100px 0px 0px 60px;

      & .about-photo-overlay {
        @include overlay;
        &:hover {
          opacity: 0;
        }
      }
    }
  }
}
