#aboutme-section {
  width: 100vw;
  overflow: hidden;
  background-color: $colorBackground;

  & .about-container {
    margin: 100px 60px;
    display: flex;

    &  span {
      background: linear-gradient(to right, $colorYellow, $colorRed, $colorViolet, $colorBluette);
      -webkit-background-clip: text;
      color: transparent;
      font-family: $fontTitle;
    }

    & .about-text {
      width: 60%;
      padding: 0px 40px;

      & h1 {
        @include h1Pages;
        margin-bottom: 40px;
        font-family: $fontSubTitle;
      }

      & p {
        line-height: 2;
        font-size: 20px;
        text-align: justify;
      }
    }

    & .about-photo {
      position: relative;
      padding: 0;
      height: 350px;
      width: 40%;
      display: flex;
     justify-content: center;

      & img {
        width: 60%;
        height: 100%;
        border-radius: 10px;
      }

      & .portfolio-overlay {
        position: absolute;
        top: 0;
        left: 10;
        height: 100%;
        width: 60%;
        background: linear-gradient(to right, $colorYellow, $colorRed, $colorViolet, $colorBluette);
        opacity: 0;
        transition: all .3s ease;
        border-radius: 10px;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
