#contact-section {
  @include sectionStyle;
  @include flexCenter(row);

  #{&}-container {
    width: 75%;
    margin: 0px 120px 100px 120px;

    & h1 {
      @include h1Pages;
      margin-bottom: 120px;
      text-align: left;
      &  span {
        @include spanTitle;
      }
    }
  
    & .contactme-container {
      @include flexCenter(column);
      
      & .contact-body {
        @include flexCenter(row);
        width: 90%;
  
        & .info-contacts {
          @include flexCenter(column);
          flex-basis: 40%;
  
          & a {
            margin-bottom: 30px;
  
            & i {
              font-size: 40px;
              @include icon-hover;
            }
          } 
  
          & #resume-button {
            @include btn-border-drawing(#e85d5f, #a05de8, 4px, bottom, right);
            background: none;
            border: none;
            cursor: pointer;
            padding: 20px;
            border-radius: 10px;
            font-size: 20px;
            
            &:focus { 
              outline: 2px solid #a05de8; 
            }
          }
        }
        
        & .sendmessage-container {
          flex-basis: 60%;
          @include flexCenter(column);
  
          & h1 {
            @include h1Pages;
            font-family: $fontSubTitle;
            font-size: 30px;
            color: $colorRed;
          }
    
          & .message-box {
            margin-top: 40px;
            width: 40%;

            & form {
              @include flexCenter(column);
              width: 100%;
              
              & label {
                color: $colorBluette;
                font-weight: bold;
              }
      
              & .second-row-message {
                width: 100%;
                margin-top: 40px;
      
                & .personal-message {
                  display: flex;
                  flex-direction: column;
      
                  & textarea {
                    margin-top: 20px;
                    @include input;
                  }
                }
              }
      
              & .first-row-personal-info {
                display: flex;
                justify-content: space-between;
                width: 100%;
      
                & .personal-info {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
      
                  & input {
                    display: block;
                    margin: 20px 0px 0px 0px;
                    @include input;
                  }
                }
              }
      
              & #send-message-button {
                @include btn-border-drawing(#e85d5f, #a05de8, 4px, bottom, right);
                background: none;
                border: none;
                cursor: pointer;
                padding: 10px;
                border-radius: 10px;
                margin-top: 30px;
                font-size: 15px;
                
                &:focus { 
                  outline: 2px solid #a05de8; 
                }
              }  
            }
          }
        }  
      }
    }
  }
}
