footer {
  padding-top: 30px;
  background: linear-gradient(40deg, $colorYellow 68.5%, $colorBluette 33%);

  & .footer-container {
    padding: 60px 30px;
    text-align: center;

    & .opensource {
      margin-top: 30px;
      font-weight: bold;

      & a {
        text-decoration: none;
        color: $colorRed;
        @include hoverText;
      }
    }
  }
}

