@mixin btn-border-drawing($color: #e85d5f, $hover: #a05de8, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  border-radius: 10px; 
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    border-radius: 10px; 
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

@mixin underlinehoverText {
  background-image: linear-gradient(
    to right,
    $colorViolet,
    $colorViolet 50%,
    $colorRed 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  background-clip: text;

  &:before {
    content: '';
    background: $colorViolet;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;

    &::before {
      width: 100%;
    }
  }
}

@mixin underlinehoverText-PresentationSection {
  background-image: linear-gradient(
    to right,
    $colorYellow,
    $colorYellow 50%,
    $colorRed 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  background-clip: text;

  &:before {
    content: '';
    background: $colorViolet;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;

    &::before {
      width: 100%;
    }
  }
}


@mixin icon-hover {
  color: $colorRed;
  &:hover {
    color: $colorViolet;
  }
}

@mixin h1Pages {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 15px;
}

@mixin h3Pages {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

@mixin flexCenter ($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin sectionStyle {
  width: 100vw;
  overflow: hidden;
  background-color: $colorBackground;
}

@mixin sectionContainer {
  margin: 70px 120px;
  width: 75%;
}

@mixin spanTitle {
  background: linear-gradient(to right, $colorRed, $colorViolet, $colorBluette);
  -webkit-background-clip: text;
  color: transparent;
  font-family: $fontTitle;
  background-clip: text;
}

@mixin descriptiveParagraph {
  line-height: 2;
  font-size: 20px;
  text-align: justify;
}

@mixin overlayContainer {
  position: relative;
  border-radius: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 10;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, $colorYellow, $colorRed, $colorViolet, $colorBluette);
  opacity: 0.4;
  transition: all .3s ease;
  border-radius: 30px;
}

@mixin svgSkills {
  --Jquery01: #e85d5f;
  --Typescript01: #e85d5f;
  --canva01: #e85d5f;
  --api01: #e85d5f;
  --flexbox01: #e85d5f;
  --responsive01: #e85d5f;
  --terminal01: #e85d5f;
  --Jquery02: #5d62e8;
  --Typescript02: #5d62e8;
  --canva02: #5d62e8;
  --api02: #5d62e8;
  --flexbox02: #5d62e8;
  --responsive02: #5d62e8;
  --terminal02: #5d62e8;
}

@mixin hoversvgSkills {
  --Jquery01: #e8e65d;
  --Typescript01: #e8e65d;
  --canva01: #e8e65d;
  --api01: #e8e65d;
  --terminal01: #e8e65d;
  --flexbox01: #e8e65d;
  --responsive01: #e8e65d;
  --Jquery02: #a05de8;
  --api02: #a05de8;
  --Typescript02: #a05de8;
  --canva02: #a05de8;
  --flexbox02: #a05de8;
  --responsive02: #a05de8;
  --terminal02: #a05de8;
}

@mixin input {
  background-color: $colorBackground;
  border-bottom: 1px solid $colorBluette;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

@mixin media-sm {
  @media (max-width: 429px) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: 430px) and (max-width: 629px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 630px) and (max-width: 899px) {
    @content;
  }
}

@mixin media-portfolio-899 {
  @media (max-width: 899px) {
    @content;
  }
}

@mixin media-grid {
  @media (min-width: 900px) and (max-width: 1050px) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: 900px) and (max-width: 1150px) {
    @content;
  }
}

@mixin media-xxl {
  @media (min-width: 1151px) and (max-width: 1550px) {
    @content;
  }
}

@mixin media-xxxl {
  @media (min-width: 1551px) and (max-width: 1900px) {
    @content;
  }
}