.navbar-container {
  position: relative;
  .navbar-section-text {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    font-size: 20px;
    width: 100%;
    z-index: 1000;

    & .open-btn-ctnr {
      position: absolute;
      right: 50px;
      @include flexCenter(row);
      background-color: rgba(232, 230, 93, 0.16);
      padding: 20px;
      border-radius: 15px;
    }

    & .menu-items {
      position: absolute;
      right: 20px;
      top: 30px;
      background-color: rgba(232, 230, 93, 0.16);
      padding: 100px 30px 30px 30px;
      border-radius: 20px;

      & .icon-close {
        position: absolute;
        right: 55px;
        top:40px;
      }

      & .menu-options-container {
        text-align: center;
        & a {
          @include underlinehoverText;
          margin: 15px 0px;
        }
      }
    }
  
    .icon-open,
    .icon-close {
      font-size: 30px;
      color: $colorRed;
    }

    & .show-button {
      display: block;
    }
    
    & .hide-button {
      display: none;
    }
  }

  & .navbar-section-dice {
    background-color: rgba(232, 230, 93, 0.16);
    padding: 20px;
    border-radius: 15px;
    position: fixed;
    right: 60px;
    top:350px;
    overflow: hidden;
    @include flexCenter(column);


    & .items {
      position: relative;
      margin: 10px 0px;
  
      & a {
        color: $colorRed;

        & .clickable {
          font-size: 22px;
        }

        & .rotate-scale-up {
          transform: rotate(1turn);
          transition: transform 1s ease-out;
          font-size: 32px;
        }
      }
    }
  }
}

