#portfolio-section {
  @include sectionStyle;
  @include flexCenter(row);

  & .portfolio-container {
    @include sectionContainer;

    & h1 {
      @include h1Pages;
      margin-bottom: 40px;
      &  span {
        @include spanTitle;
      }
    }

    & p {
      @include descriptiveParagraph;
    }

    & .portfolio-project-container {
      margin-top:100px;
      @include flexCenter(column);

      & .portfolio-project-item {
        @include flexCenter(row);
        margin-bottom: 100px;

        & .project-skills-container {
          padding: 10px;
          height:fit-content;
          @include flexCenter(column);
          $gradientColors: $colorYellow, $colorRed, $colorViolet, $colorBluette;
          $borderGradient: linear-gradient(to right, #{$gradientColors});
          border: 2px solid transparent;
          border-image: $borderGradient 1;
          border-image-slice: 1;
          flex-basis: 5%;

          & .project-skill-item {
            margin-bottom: 15px;

            & i {
              font-size: 30px;
              @include icon-hover;
              color: $colorBluette;
            }
            & svg {
              width: 35px;
              height: 35px;
              &:hover {
                fill: #a05de8;
              }
            }
          }
        }

        & #weather-skills {
          margin-left: 40px;
        }

        & .project-foto-container {
          width: 400px;
          height: 400px;
          margin: 0px 20px;
          @include overlayContainer;


          & .project-photo-overlay {
            @include overlay;
            &:hover {
              opacity: 0;
            }
          }
        }

        & .project-content-container {
          margin-left: 50px;
          flex-basis: 50%;

          & h3 {
            @include h3Pages;
            font-size: 30px;
            font-family: $fontSubTitle;
            color: $colorRed;
          }

          & .project-content-description {
            & .project-content-link {
              display: flex;
              width: 15%;
              justify-content: space-between;
              margin-top: 40px;
              & i {
                font-size: 30px;
                @include icon-hover;
              }
            }
          }
        }
      }
    }
  }
}

#notes-photo-container {
  background-image: url(/images/notesproject.jpeg);
}

#weather-photo-container {
  background-image: url(/images/weatherproject.png);
}

#pastas-photo-container {
  background-image: url(/images/pastasproject.png);
}