#myskill-section {
  @include sectionStyle;
  @include flexCenter(row);

  & .myskill-container {
    @include sectionContainer;
    display: flex;
    flex-direction: column;

    & h1 {
      @include h1Pages;
      margin-bottom: 40px;
      &  span {
        @include spanTitle;
      }
    }

    & .skills-icon-container {
      @include flexCenter(row);
      margin-top: 30px;


      & .skills-small-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        & .skills-icon-item {
          padding: 30px 40px;
          @include flexCenter(column);
          flex-basis: 15%;
  
          & .skill-icon {
            margin-bottom: 30px;
            & i {
              font-size: 100px;
              background: linear-gradient(to right, $colorRed, $colorBluette);
              -webkit-background-clip: text;
              color: transparent;
    
              &:hover {
                background: linear-gradient(to right, $colorYellow, $colorViolet);
                -webkit-background-clip: text;
                color: transparent;
              }
            }
  
            & svg {
              width:100px; 
              height: 100px;
              @include svgSkills;
              &:hover {
                @include hoversvgSkills;
              }
            }
          }
          & .skill-description {
            @include h3Pages;
            font-family: $fontSubTitle;
          }
        }
      }
    }
  }
}