$colorBluette: #5d62e8;
$colorRed: #e85d5f;
$colorYellow: #e8e65d;
$colorBackground:#e8ecf5;
$colorViolet: #a05de8;
$fontTitle: "Protest Guerrilla", sans-serif;
$fontSubTitle: "Anta", sans-serif;
$fontContent:"Quattrocento", serif;