@import './variables';
@import './mixin';
@import './navbar';
@import './footer';
@import './about';
@import './skill';
@import './portfolio.scss';
@import './contact';


* {
  box-sizing: border-box;
  margin: 0;
}

.body-container {
  width: 100vw;
  overflow: hidden;
  font-family: "Quattrocento", serif;
}

#presentation-section {
  background: linear-gradient(110deg,  $colorYellow  67%, $colorBluette 33%);
  height: 100vh;

  & .hero-container {
    @include flexCenter(column);
    padding: 0px 40px;
    height: 100%;

    & .hero {
      width: 70vw;

      & h1 {
        font-size: 90px;
        font-weight: 900;
        color: $colorRed;
        font-family: $fontTitle;
      }

      & h2 {
        font-family: $fontSubTitle;
        @include h3Pages;
      }

      & p {
        font-size: 25px;
        margin-top: 15px;
        font-family: $fontSubTitle;

        & span {
          color: $colorRed;
          @include hoverText;
        }
      }
    }
  }
}