:root {
  --color1: #d6ef16;
  --color2: #01415B;
  --color3: #005148;
  --color4: #019587;
  --color5: #CCEA8D;
  --background: #f5ffe0;
  --font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.body-container {
  width: 100vw;
} 

#presentation-section {
  background: linear-gradient(110deg, #019587 57%, #ccf381 33%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 20px;
}

.logo a {
  color: var(--color1);
  text-decoration: none;
  font-weight: 600;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.menu-items a {
  text-decoration: none;
  color: var(--color2);
  font-weight: 600;
  display: block;
}

.icon-open {
  display: none;
}

.icon-close {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
}

.hero {
  width: 70vw;
}

.hero h1 {
  font-size: 90px;
  font-weight: 900;
  color: var(--color1);
}

.hero h2 {
  font-size: 20px;
  padding-bottom: 25px;
}

.hero p {
  font-size: 25px;
  padding-top: 15px;
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 70px;
}

.button a {
  text-decoration: none;
  font-size: 22px;
  background-color: var(--color2);
  padding: 20px;
  border-radius: 6px;
  color: var(--color5);
}

#project-section {
  background-color: var(--background);
  padding: 100px 30px;
}

#project-section h2 {
  margin-bottom: 40px;
  color: var(--color2);
  font-weight: 700;
}

#project-section .container .row h3 {
  color: var(--color1);
  text-shadow: 4px 4px 2px var(--color2);
  font-weight: 700;
  padding-bottom: 40px;
}

#project-section .container .row .button a {
  font-size: 18px;
  padding: 15px;
}

/* ABOUT PAGE */

#about-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.about-container {
  padding: 150px 60px;
}

.about-text h1,
.work-container h1,
.contact-container h1 {
  font-size: 60px;
  font-weight: 900;
  color: var(--color2);
  padding-bottom: 15px;
}

.about-text h3,
.work-container h3
.contact-container h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color2);
  padding-bottom: 25px;
}

.about-text .button {
  padding-top: 30px;
}

.about-photo {
  position: relative;
  padding: 0;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, var(--color1), var(--color5), var(--color4), var(--color3), var(--color2));
  opacity: 0;
  transition: all .3s ease;
  border-radius: 10px;
}

.portfolio-overlay:hover {
    opacity: .8;
  }

.about-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* WORK PAGE */

#work-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
} 

.work-container {
  padding: 150px 60px;
}

.work-container .project-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.text-paragraph {
  text-align: center;
}

.work-container h3,
.contact-container h3 {
  padding: 25px 0 10px 0;
}

.project-container .row {
  padding: 30px 0 140px 0;
}

.project-container .row.second-row {
  padding-bottom: 30px;
}

/* CONTACT PAGE */

#contact-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.contact-container {
  padding: 150px 60px;
}

.contact-container h3 {
  color:var(--color3);
  font-weight: bold;
}

.contact-container a {
  color: var(--color4);
  text-decoration: none;
}











@media (max-width: 700px) {

  .navbar-container {
    position:relative;
  } 

 .menu-items {
  text-align:end;
  transform: translate(250px, 50px);
  }

  .active {
    display: block;
    transform: translate(-10px, 50px);
    transition: transform 0.5s ease-in;
  }

  .inactive {
    display: block;
    transform: translate(250px, 50px);
    transition: transform 0.5s ease-in;
  }

  .navbar-container a.icon-open {
    display: block;
    position:absolute;
    right: 30px;
    top: 0;
    color: var(--color2);
  }

  .navbar-container a.icon-close {
    position:absolute;
    right: 30px;
    top: 0;
    color: var(--color2);
  }

  .hero h2 {
    font-size: 15px;
    padding-bottom: 10px;
  }
  
  .hero h1 {
    font-size: 50px;
  }
  
  .hero p {
    font-size: 15px;
  }
  
  .button a {
    font-size: 15px;
  }
  
  .button {
    padding-top: 20px;
  }

  .navbar-container {
    font-size: 15px;
  }
  .icon-open, .icon-close {
    font-size:25px;
    color: var(--color2);
  }
}

@media (max-width: 767px) {
  .work-container h1 {
    font-size: 40px;
  }

  .work-container .project-container .text-paragraph {
    padding-bottom: 140px;
  }

  .project-container .row {
    padding: 30px 0 10px 0;
  }
}

@media (min-width: 701px) and (max-width: 960px) {
  .navbar-container {
    padding: 5px 10px;
    font-size: 20px;
  }
  
  .logo a {
    font-weight:700;
  }
  
  .menu-items {
    width: 60%;
    text-decoration: none;
  }
  
  .menu-items a {
    font-weight: 700;
  }

.icon-close, .icon-open {
    display: none;
  } 
}

@media (min-width: 701px) and (max-width: 850px) {
  .hero h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  
  .hero h1 {
    font-size: 70px;
  }
  
  .hero p {
    font-size: 20px;
  }
  
  .button a {
    font-size: 18px;
  }
  
  .button {
    padding-top: 30px;
  }
}

@media (min-width: 961px) and (max-width: 1300px) {
  .navbar-container {
    padding: 5px 10px;
    font-size: 20px;
  }
  
  .logo a {
    font-weight:700;
  }
  
  .menu-items {
    width: 40%;
    text-decoration: none;
  }
  
  .menu-items a {
    font-weight: 700;
  }

  .icon-close, .icon-open {
    display: none;
  } 

}

@media (max-width: 991px) {
  #project-section {
    text-align: center;
  }

  #project-section h2{
    font-weight: 100;
  }

  #project-section .container .row h3 {
    font-size: 35px;
    padding-bottom: 20px;
  }

  #project-section .container .row .button a {
    font-size: 15px;
  }

  #project-section .container .row .button {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .about-container .about-photo {
    margin-top: 60px;
  }

  .work-container h1 {
    text-align: center;
  }
}

@media (max-width: 1240px) {
  .hero h1 {
    color: var(--color2);
  }
}

@media (max-width: 900px) {
  .contact-container {
    text-align: center;
  }
}