:root {
  --color1: #d6ef16;
  --color2: #01415B;
  --color3: #005148;
  --color4: #019587;
  --color5: #CCEA8D;
  --background: #f5ffe0;
  --font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.body-container {
  width: 100vw;
} 

#presentation-section {
  background: linear-gradient(110deg, #019587 57%, #ccf381 33%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  font-size: 20px;
}

.navbar-container .logo {
  height: 50px;
  width: 100px;
}

.logo a img {
 height: 100%;
 width: 100%;
 object-fit: contain;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.menu-items a {
  text-decoration: none;
  color: var(--color2);
  font-weight: 600;
  display: block;
}

.icon-open {
  display: none;
}

.icon-close {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
}

.hero {
  width: 70vw;
}

.hero h1 {
  font-size: 90px;
  font-weight: 900;
  color: var(--color1);
}

.hero h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.hero p {
  font-size: 25px;
  margin-top: 15px;
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 70px;
  cursor: pointer;  
}

.button:hover a {
  background: linear-gradient(to right, var(--color1), var(--color4), var(--color3), var(--color2));
}

.button a {
  text-decoration: none;
  font-size: 22px;
  background-color: var(--color2);
  padding: 20px;
  border-radius: 6px;
  color: var(--background);
}

#project-section {
  background-color: var(--background);
  padding: 100px 30px;
}

#project-section h2 {
  margin-bottom: 40px;
  color: var(--color2);
  font-weight: 700;
}

#project-section .container .row h3 {
  color: var(--color4);
  font-weight: 700;
  margin-bottom: 40px;
}

#project-section .container .row .button a {
  font-size: 18px;
  padding: 15px;
}

/* ABOUT PAGE */

#about-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.about-container {
  margin: 150px 60px;
}

.about-container span {
  background: linear-gradient(to right, var(--color1), var(--color5), var(--color4), var(--color3), var(--color2));
  -webkit-background-clip: text;
  color: transparent;
}

.about-text h1,
.work-container h1,
.contact-container h1 {
  font-size: 60px;
  font-weight: 900;
  color: var(--color2);
  margin-bottom: 15px;
}

.about-text h3,
.work-container h3,
.contact-container h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color2);
  margin-bottom: 25px;
}

.about-container .about-text h1 {
  margin-bottom: 20px;
}

.about-container .about-text p {
  margin: 40px 0 60px 0;
}

.about-text .button {
  margin-top: 30px;
}

.about-photo {
  position: relative;
  padding: 0;
}

.about-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, var(--color1), var(--color5), var(--color4), var(--color3), var(--color2));
  opacity: 0;
  transition: all .3s ease;
  border-radius: 10px;
}

.portfolio-overlay:hover {
    opacity: .8;
  }

/* WORK PAGE */

#work-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
} 

.work-container {
  margin: 150px 60px;
}

.work-container .project-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.text-paragraph {
  text-align: center;
}

.work-container h3,
.contact-container h3 {
  margin: 25px 0 10px 0;
  color: var(--color4);
}

.work-container .project-container .row .button {
  margin-top: 10px;
}

.project-container .row {
  margin: 30px 0 240px 0;
}

.project-container .row.second-row {
  margin: 150px 0px 30px 0px;
}

#footer-work {
  margin-top: 140px;
}

/* CONTACT PAGE */

#contact-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.contact-container {
  margin: 100px 60px;
}

.contact-container .message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.contact-container .message-box label {
  color: #019587;
  font-weight: bold;
}

.contact-container .message-box .first-row-personal-info input,
.contact-container .message-box .second-row-message #message-line {
  border-bottom: 1px solid var(--color4);
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  background-color: var(--background);
}

.contact-container .message-box .first-row-personal-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.contact-container .message-box .first-row-personal-info .personal-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-container .message-box .personal-info input {
  display: block;
  margin: 20px 0px 0px 0px;
}

.contact-container .message-box .second-row-message {
  width: 60%;
  margin-top: 40px;
}

.contact-container .message-box .second-row-message .personal-message {
  display: flex;
  flex-direction: column;
}

.contact-container .message-box .second-row-message .personal-message textarea {
  margin-top: 20px;
  border: 0px;
  background-color: var(--background);
}

.contact-container .message-box #send-message {
  margin-top: 70px;
}

#footer-contact-page {
  padding-top: 50px;
}

/* Footer */

footer {
  background-color: var(--background);
  padding-top: 30px;
}

.email-container {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px;
}

.getintouch {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(214, 239, 22, 0.3);
}

#footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color3);
}

#footer-text h2 {
  font-weight: bold;
}

#footer-button {
  padding: 0;
  margin: 0;
}

#footer-button:hover a {
  background: linear-gradient(to right, var(--color4), var(--color3), var(--color2));
}

.social-container {
  background: linear-gradient(20deg, #019587 57%, #ccf381 33%);
  padding: 60px 30px;
  text-align: center;
}

#linkedin {
  margin-right: 30px;
  color: var(--color1);
}

#github {
  margin-left: 50px;
  color: var(--color2);
}

.social-container .opensource {
  margin-top: 30px;
  color: var(--color2);
  font-weight: bold;
}

.social-container .opensource a {
  text-decoration: none;
  color: var(--color2);
}

.social-container .opensource a:hover {
  text-decoration: none;
  color: var(--color3);
}

@media (max-width: 700px) {

  /* navbar */
  .navbar-container {
    position:relative;
    font-size: 15px;
  } 

  .navbar-container .logo {
    height: 30px;
    width: 50px;
  }

 .menu-items {
  text-align:end;
  transform: translate(250px, 50px);
  display: block;
  }

  .none {
    display: none;
  }

  .active {
    display: block;
    transform: translate(-10px, 50px);
    transition: transform 0.5s ease-in;
  }

  .inactive {
    display: block;
    transform: translate(250px, 50px);
    transition: transform 0.5s ease-in;
  }

  .navbar-container a.icon-open {
    display: block;
    position:absolute;
    right: 30px;
    top: 0;
    color: var(--color2);
  }

  .navbar-container a.icon-close {
    position:absolute;
    right: 30px;
    top: 0;
    color: var(--color2);
  }

  .icon-open, .icon-close {
    font-size:25px;
    color: var(--color2);
  }

  /* index */
  .hero h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .hero h1 {
    font-size: 50px;
  }
  
  .hero p {
    font-size: 15px;
  }
  
  .button a {
    font-size: 15px;
  }
  
  .button {
    margin-top: 30px;
  }

  #project-section {
    padding-bottom: 1px;
  }

  #project-section .container .row {
    margin-bottom: 5px;
  }

  #project-section .container .row .button{
    margin-bottom: 0px;
  }

  /* footer */
  #footer {
    padding-top: 0px;
  }

  #footer-text h2 {
    font-size:20px;
  }

  #footer-text p {
    font-size:12px;
  }

  #footer-button {
    margin: 10px;
  }

  #footer-button a {
    font-size: 12px;
  }

  #linkedin {
    color: var(--color2);
  }
}

@media (max-width: 767px) {

  /* work */
  .work-container {
    margin-bottom: 50px;
  }

  .work-container h1 {
    font-size: 40px;
  }

  .work-container .project-container .text-paragraph {
    margin-bottom: 240px;
  }

  .project-container .row {
    margin: 30px 0 10px 0;
  }

  .work-container .project-container .second-row {
    margin-top: 25px;
  }

  /* footer */
  footer .email-container {
    padding-top: 50px;
  }

  footer {
    padding-top: 0px;
  }

  #footer-work {
    margin-top: 5px;
  }


}

@media (min-width: 701px) and (max-width: 850px) {
  
  /* navbar */
  .navbar-container .logo {
    height: 50px;
    width: 80px;
  }
  
  /* index */
  .hero h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .hero h1 {
    font-size: 70px;
  }
  
  .hero p {
    font-size: 20px;
  }
  
  .button a {
    font-size: 18px;
  }
  
  .button {
    margin-top: 30px;
  }

  /* footer */
  #footer-text h2 {
    font-size:25px;
  }

  #footer-text p {
    font-size:15px;
  }

  #footer-button {
    margin: 20px;
  }
}

@media (max-width: 900px) {
  /* contact */
  .contact-container {
    text-align: center;
  }
}

@media (min-width: 701px) and (max-width: 960px) {
  /* navbar */
  .navbar-container {
    padding: 5px 10px;
    font-size: 20px;
  }
  
  .menu-items {
    width: 60%;
    text-decoration: none;
  }
  
  .menu-items a {
    font-weight: 700;
  }

  .icon-close, .icon-open {
    display: none;
  } 
}

@media (max-width: 991px) {
  /* index */
  #project-section {
    text-align: center;
  }

  #project-section h2{
    font-weight: 100;
  }

  #project-section .container .row h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #project-section .container .row .button a {
    font-size: 15px;
  }

  #project-section .container .row .button {
    margin: 10px 0px 70px 0px;
  }

  /* work */
  .work-container h1 {
    text-align: center;
  }

  /* about */
  .about-container {
    text-align: center;
    margin: 50px 0px;
    min-width: 100vw;
  }
  
  .about-text {
    margin-bottom: 40px;
  }

  .about-text .button {
    display: flex;
    justify-content: center;
  }

  .about-container .about-photo {
    margin-top: 60px;
  }

  .portfolio-overlay {
    top: 0;
    left: 0;
  }

  /* contact */
  .contact-container .message-box .first-row-personal-info .personal-info {
    margin-bottom: 50px;
  }

  .contact-container .message-box .second-row-message {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  /* about */
  .about-container .about-photo {
    height: 407px;
    width: 400px;
    margin: 0 auto;
    position: relative;
  }

  .portfolio-overlay {
    height: 100%;
    width: 100%;
  } 
}

@media (min-width: 961px) and (max-width: 1300px) {
  /* navbar */
  .navbar-container {
    padding: 5px 10px;
    font-size: 20px;
  }
  
  .menu-items {
    width: 40%;
    text-decoration: none;
  }
  
  .menu-items a {
    font-weight: 700;
  }

  .icon-close, .icon-open {
    display: none;
  } 

}

@media (min-width: 961px) and (max-width: 1300px) {
  /* navbar */
  .navbar-container {
    padding: 5px 10px;
    font-size: 20px;
  }
  
  .menu-items {
    width: 40%;
    text-decoration: none;
  }
  
  .menu-items a {
    font-weight: 700;
  }

  .icon-close, .icon-open {
    display: none;
  } 

}

@media (max-width: 1240px) {
  /* index */
  .hero h1 {
    color: var(--color2);
  }
}